@font-face {
  font-family: "Helvetica Neue Condensed Bold";
  src: local("HelveticaNeue-CondensedBold"), url("fonts/HelveticaNeue-CondensedBold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Diatype Mono Bold";
  src: url("fonts/ABCDiatypeMono-Bold.otf") format("opentype");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue Condensed Bold", sans-serif;
  transition: opacity 0.35s ease-in-out;
  cursor: none;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
body div.seo {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  font-size: 2vw;
  line-height: 150%;
  letter-spacing: -2.5px;
  text-transform: uppercase;
}
body div.seo h1 {
  background: url(images/wordmark.svg) center center no-repeat;
  background-size: contain;
  width: 15.71428571vw;
  height: 2.2vw;
  overflow: hidden;
  text-indent: -100vw;
  margin: 0 auto 0.5vw;
}
body div.seo span.globe {
  display: inline-block;
  background: url(images/GLOBE-Logo_SPIN.gif) center center no-repeat;
  background-size: 300%;
  overflow: hidden;
  text-indent: -100vw;
  width: 2.8125vw;
  height: 2.25vw;
  margin-left: 0.25vw;
  margin-right: -0.6vw;
}
body div.interactive canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  pointer-events: none;
}
body div#contact {
  position: fixed;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  pointer-events: none;
  text-transform: uppercase;
}
body div#contact a {
  display: inline-block;
  font-family: "Diatype Mono Bold", sans-serif;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 40px;
  background: white;
  pointer-events: all;
  min-width: 200px;
}
body div#contact span.mail {
  display: inline-block;
  width: 25.5px;
  height: 17px;
  background: url(images/mail.svg) center bottom no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
body div#cursor {
  position: fixed;
  top: -50px;
  left: -50px;
  width: 30px;
  height: 32px;
  background: url(images/cursor.png) center center no-repeat;
  background-size: contain;
  content: "";
  pointer-events: none;
}
body.mobile div#cursor {
  display: none;
}
body div.lil-gui {
  cursor: default;
}
@media screen and (max-width: 900px) {
  body div.seo {
    font-size: 2.5vw;
    letter-spacing: -2px;
  }
  body div.seo h1 {
    width: 15.71428571vw;
    height: 2.2vw;
    margin: 0 auto 0.5vh;
  }
  body div.seo span.globe {
    width: 3.75vw;
    height: 3vw;
    margin-left: 0.25vw;
    margin-right: -0.75vw;
  }
}
@media screen and (max-width: 450px) {
  body div.seo {
    font-size: 2.5vh;
    letter-spacing: -2px;
  }
  body div.seo h1,
  body div.seo span.globe {
    text-indent: -100vh;
  }
  body div.seo h1 {
    width: 19vh;
    height: 2.66vh;
    margin: 0 auto 0.5vh;
  }
  body div.seo span.globe {
    width: 3.75vh;
    height: 3vh;
    margin-left: 0.25vh;
    margin-right: -0.75vh;
  }
}
/*# sourceMappingURL=main.css.map */